/* src/components/About.css */

/* Ensure the main content is centered */
.about-main {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: calc(100vh - 120px); /* Full viewport height minus navbar height */
  padding-top: 0; /* Remove top padding */
}

.about-container {
  padding-left: 80px; /* Ensure main content is pushed to the right */
  padding-top: 20px; /* Adjust top padding as needed */
  box-sizing: border-box; /* Include padding in the element's width and height */
}

@media (max-width: 768px) {
  .about-container {
    padding-left: 0; /* Remove padding for small screens */
  }
}

/* Center align text and image */
.about-content {
  text-align: left;
}

.about-heading {
  font-size: 3rem; /* Large font size for heading */
  font-weight: bold;
  color: #343a40; /* Dark text color */
  margin-bottom: 2rem; /* Space below heading */
}

.about-text {
  font-size: 1.25rem; /* Font size for paragraphs */
  color: #6c757d; /* Medium gray text color */
  line-height: 1.6; /* Line height for readability */
  margin-bottom: 1rem; /* Space below paragraphs */
}

.about-skills {
  margin-top: 2rem; /* Space above skills */
}

.badge {
  display: inline-block;
  padding: 8px 12px;
  margin-right: 10px; /* Space between badges */
  background-color: #007bff; /* Badge background color */
  color: #ffffff; /* Badge text color */
  border-radius: 5px; /* Rounded corners */
  font-size: 0.9rem; /* Font size for badges */
}

.badge svg {
  vertical-align: middle; /* Align icon vertically with text */
}

.about-image {
  max-width: 100%; /* Ensure image does not exceed container width */
  border-radius: 10px; /* Rounded corners for image */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Box shadow for image */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition for image */
}

.about-image:hover {
  transform: scale(1.05); /* Scale up image on hover */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); /* Add a subtle shadow on hover */
}
