/* Navbar.css */

.sidebar {
  width: 120px; /* Adjusted width */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Start from top */
  padding-top: 20px; /* Adjusted top padding */
  z-index: 2000;
  height: 100vh;
  background-color: #1f1f1f; /* Darker background color */
}

.sidebar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px; /* Padding for the logo */
  margin-bottom: 20px; /* Space between logo and links */
}

.nav-links {
  flex-grow: 1; /* Take remaining space */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Start from top */
}

.nav-link {
  font-size: 20px; /* Adjusted font size */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0; /* Vertical padding */
  margin: 10px 0; /* Adjusted margin for links */
  position: relative;
  color: white;
  transition: transform 0.3s ease;
  width: 100%;
  text-align: center; /* Center text */
}

.nav-link:hover {
  transform: scale(1.1); /* Magnify effect on hover */
  color: #007bff; /* Hover color change */
}

.nav-link svg {
  vertical-align: middle;
  font-size: 24px;
}

.nav-link::after {
  content: attr(title); /* Display title attribute as tooltip */
  position: absolute;
  left: calc(100% + 10px); /* Position tooltip to the right of the link */
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  background-color: #666;
  color: #fff;
  padding: 5px 8px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.nav-link:hover::after {
  opacity: 1; /* Show tooltip on hover */
}

/* Media Queries for Responsiveness */
@media (max-width: 992px) {
  .nav-link {
    font-size: 18px; /* Smaller icon size for medium screens */
  }
}

@media (max-width: 768px) {
  .nav-link {
    font-size: 16px; /* Smaller icon size for small screens */
  }
}
